<?xml version="1.0" encoding="UTF-8" ?>
<widget>

<!-- versionCode is optional and Android only -->

  <name>MINECRAFT BATTLE (EPIC)</name>

  <description>
      FIGHT A PIGMAN ZOMBIE USING BARE HANDS. WIN A PORKCHOP.
  </description>

  <author>
      Louis-Felix Berthiaume
  </author>
  <icon src="icon.png" width="180" height="180" />
</widget>
